{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <h1 class="display-6">
                <span class="d-none d-lg-inline">Welcome to the Home</span>
            </h1>
        </div>

        <hr>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">This is your Home page.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}